.row-header{
    margin: 0px auto;
    padding:0px auto;
}

.row-content{
    margin:0px auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #d1c4e9;
    margin:0 auto;
    padding: 20px 0;
}

.jumbotron{
    padding:70px 30px;
    margin: 0 auto;
    background-color: #9578cd;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0;
    color:#0f0f0f;
}
.row-content1{
    

    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height:400px;
}

body{
    padding-top:50px;
    z-index: 0;
}

.navbar-dark{
    background: #512da8;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}